<body>
  <h1><i class="fas fa-baseball-ball"></i>Pose une question à ton coach</h1>
  <div id="question">
    <form action="/answer" method="get">
      <input type="text" id ="placeholder" name="question" placeholder="Posez la question">
      <button type="submit" class="btn btn-danger">Valider</button>
    </form>
  </div>
</body>
